<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto - MAGDA CREW</title>
</head>
<body>

        <form method="POST" action="/atualizar/{{ produto.id }}" enctype="multipart/form-data">
        <div class="container">
            <h1>Editar Produto</h1>
            <label>Nome:</label>
            <input type="text" name="nome" value="{{ produto.nome }}" required>
            <label>Descrição:</label>
            <input type="text" name="descricao" value="{{ produto.descricao }}" required>
            <label>Preço:</label>
            <input type="number" name="preco" value="{{ produto.preco }}" step = "0.01" required>
            <label>Categoria:</label>
            <select name="categoria_id" required>
                <option value="" disabled selected>Selecione...</option>
                {% for categoria in categorias %}
                <option value={{categoria.id}}>{{ categoria.nome }}</option>
            {% endfor %}
            </select>
            <label for="destaque">Destaque:</label>
            <select name="destaque" id="destaque" required>
                <option value="" selected disabled>Selecione uma opção</option>
                <option value="TRUE" {% if produto.destaque == 1 %}selected{% endif %}>Sim</option>
                <option value="FALSE" {% if produto.destaque == 0 %}selected{% endif %}>Não</option>
            </select>
            <input type="file" name="imagem">

            <h1>Editar Estoque</h1>
            <label>Tamanho:</label>
            <select name="tamanho_id" required>
                <option disabled selected>Selecione...</option>
                {% for tamanho in tamanhos %}
                    <option value={{tamanho.id}}>{{ tamanho.nome }}</option>
                {% endfor %}
            </select>
            <label>Cor:</label>
            <select name="cor_id" required>
                <option value="" selected disabled>Selecione uma opção</option>
                {% for cor in cores %}
                <option value={{cor.id}}>{{ cor.nome }}</option>
            {% endfor %}
            </select>
            <label>Quantidade:</label>
            <input type="number" name="quantidade" value="{{ produto.quantidade }}" required>

            <button type="submit">Atualizar</button>
        </div>
    </form>

</body>
</html>