<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Produto - MAGDA CREW</title>
    
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="static/images/simple_magda_logo.png" type="image/png">
</head>
<body class="novo-produto-body">
    <div class="np-wrapper">
        {% include 'layouts/navbar.html' %}
        <h1 class="np-title">Adicionar novo produto</h1>

        <form method="POST" action="/salvar" enctype="multipart/form-data" class="np-card">

            <div class="np-group">
                <label>Nome do produto</label>
                <input type="text" name="nome" required>
            </div>

            <div class="np-group">
                <label>Descrição</label>
                <input type="text" name="descricao" required>
            </div>

            <div class="np-group">
                <label>Preço</label>
                <input type="number" name="preco" step="0.01" required>
            </div>

            <div class="np-group">
                <label>Categoria</label>
                <select name="categoria_id" required>
                    <option value="" disabled selected>Selecione...</option>
                    {% for categoria in categorias %}
                    <option value={{categoria.id}}>{{ categoria.nome }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="np-group">
                <label>Imagem</label>
                <input type="file" name="imagem">
            </div>

            <div class="np-group">
                <label>Destaque</label>
                <select name="destaque" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="TRUE">Sim</option>
                    <option value="FALSE">Não</option>
                </select>
            </div>

            <h2 class="np-subtitle">Adicionar ao Estoque</h2>

            <div class="np-grid">
                <div class="np-group">
                    <label>Tamanho</label>
                    <select name="tamanho_id" required>
                        <option disabled selected>Selecione...</option>
                        {% for tamanho in tamanhos %}
                            <option value={{tamanho.id}}>{{ tamanho.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="np-group">
                    <label>Cor</label>
                    <select name="cor_id" required>
                        <option disabled selected>Selecione...</option>
                        {% for cor in cores %}
                            <option value={{cor.id}}>{{ cor.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="np-group">
                    <label>Quantidade</label>
                    <input type="number" name="quantidade" required>
                </div>
            </div>

            <button type="submit" class="np-btn">Salvar Produto</button>

    </div>
    {% include 'layouts/footer.html' %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>