<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos • MAGDA CREW</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="produtos-page">

    {% include 'layouts/navbar.html' %}

    <h2>Produtos</h2>

    <div class="topo-produtos">
        <a class="botao-cadastrar" href="novo_produto">Cadastrar Produto</a>
    </div>

    <div class="produtos-container">

        {% for produto in produtos %}
        <div class="card">

            <a href="/editar_produto/{{ produto.id }}" class="">Editar</a>
            <img src="/static/images/editar.png" alt="Editar" style="width:20px; height:20px;">
            
            <img src="{{ url_for('static', filename='uploads/' ~ produto.imagem) if produto.imagem else url_for('static', filename='images/default.png') }}"
            alt="Produto">

            <div class="produto-nome">{{ produto.nome }}</div>

            <div class="produto-preco">
                R$ {{ "%.2f"|format(produto.preco) }}
            </div>

            <button class="btn-comprar">COMPRAR</button>

        </div>
        {% endfor %}

    </div>

    <div class="footer-spacer">
        {% include 'layouts/footer.html' %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>