<nav class="navbar">
    <a href="/" class="logo-link">
        <img src="static/images/magdawhitelogo.png" class="logo">
    </a>

    <ul class="nav-menu">
        <li><a href="/sobre">Sobre nós</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
    
    <div class="nav-icons">
        <a href="/carrinho">
            <img src="static/images/carrinho.png" class="nav-icon">
        </a>
        <a href="/usuario">
            <img src="/static/images/usuario.png" class="nav-icon">
        </a>
    </div>
</nav>