<nav class="navbar">
    <a href="/" class="logo-link">
        <img src="/static/images/magdawhitelogo.png" class="logo">
    </a>

    <ul class="nav-menu">
        <li><a href="/sobre">Sobre nós</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="#contato">Contato</a></li>
        {% if usuario_logado() and eh_admin() %}
        <li><a href="/admin/dashboard">Dashboard</a></li>
        {% endif %}
    </ul>
    
    <div class="nav-icons">

                        <a href="/carrinho" class="carrinho-link">
                            <img src="/static/images/carrinho.png" class="nav-icon">
                            {% if session.get('usuario_id') and session.get('carrinho_count') and session.get('carrinho_count') > 0%}
                            <span class="carrinho-count">                                
                                {{ session.get('carrinho_count') }}
                            </span>
                            {% endif %}
                        </a>
    <a href="/usuario">
        <img src="/static/images/usuario.png" class="nav-icon">
    </a>
</div>
</nav>
</div>
