<nav class="navbar">
    <a href="/" class="logo-link">
        <img src="static/images/magdawhitelogo.png" class="logo">
    </a>

    <ul class="nav-menu">
        <li><a href="sobre.html">Sobre nós</a></li>
        <li><a href="produtos.html">Produtos</a></li>
        <li><a href="contato.html">Contato</a></li>
    </ul>
    
    <div class="nav-icons">
        <a href="carrinho.html">
            <img src="static/images/carrinho.png" class="nav-icon">
        </a>

        <a href="usuario.html">
            <img src="static/images/usuario.png" class="nav-icon">
        </a>
    </div>
</nav>