<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos • MAGDA CREW</title>
</head>
<body>
    <h1>Produtos </h1>

    <a href="/novo_produto" class="">Cadastrar Produto</a>

    <table class="">
        <tr>
            <th>Título</th>
            <th>Gênero</th>
            <th>Ano</th>
            <th>Avaliação</th>
            <th>Ações</th>
        </tr>
        {% for filme in filmes %}
        <tr>
            <td>{{ filme.titulo }}</td>
            <td>{{ filme.genero }}</td>
            <td>{{ filme.ano }}</td>
            <td>{{ filme.avaliacao }}</td>
            <td>
                <a href="/editar/{{ filme.id }}">
                    <img src="/static/images/editar.png" alt="Editar" style="width:20px; height:20px;">
                </a>
                <a href="/excluir/{{ filme.id }}">
                    <img src="/static/images/excluir.png" alt="Excluir" style="width:20px; height:20px;">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>