<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Login • MAGDA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    {% include 'components/header.html' %}
</head>

<body>

<section class="section">
    <div class="login-container">

        <h2>Entrar na conta</h2>

        <form action="/login" method="POST">

            <label>E-mail:</label>
            <input type="email" name="email" required>

            <label>Senha:</label>
            <input type="password" name="senha" required>

            <button type="submit">Entrar</button>
            <div class="bottom-link">
                Não possui conta? <a href="/cadastro">Criar conta</a>
            </div>

        </form>
    </div>
</section>
<!-- Footer -->
{% include 'components/footer.html' %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
